# API Base URL configuration for storefront queries
NEXT_PUBLIC_API_URL="https://api.bharathdelightfoods.in"

# Frontend Site URL used for sitemap/SEO metadata configurations
NEXT_PUBLIC_APP_URL="https://bharathdelightfoods.in"

# Search engine site verification tokens (Optional)
NEXT_PUBLIC_GOOGLE_SC_TOKEN="your_google_search_console_token_here"
NEXT_PUBLIC_BING_WMT_TOKEN="your_bing_webmaster_tools_token_here"
