# Dependency directories
node_modules/
jspm_packages/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
.next/
out/

# Python virtual envs
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.env
.env.*.local
.DS_Store
