# App Configuration
PROJECT_NAME="Mr. Bharath Foods"
API_V1_STR="/api/v1"
SECRET_KEY="generate_a_secure_random_string_signature"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# MongoDB Connection Parameters
MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/database?retryWrites=true&w=majority"
DATABASE_NAME="mr_bharath_foods"

# Caching & Queue Brokers
REDIS_URL="redis://localhost:6379/0"

# Storage Services (Cloudflare R2)
R2_ENDPOINT_URL="https://account_id.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID="r2_access_key"
R2_SECRET_ACCESS_KEY="r2_secret_key"
R2_BUCKET_NAME="mbf-media-bucket"



-----> how to setup these alll